@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: auto;

}

h1{
 text-align: center;
}




h4 {
    font-family: sans-serif;
}

h5 {
    color: red;
}



img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {

margin: 0 20%;
}

nav {
    background-color: white;
    padding: .05px;
    width: 100%;
    border-top: silver solid .05px;
    border-bottom: silver solid .05px;
    
}

.position {
    position: sticky;
    top: 0px;
    bottom: 0px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-style: sans-serif;
    font-size: 1em;
    color: silver;
    margin-right: 25px;
}

nav a:hover {
    color: gold;
}

.border {
    border: silver solid .01px;
}

.more-articles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-articles img{
    max-width: 75%;
    max-height: auto;
    gap: 50px;
   border-radius: 5%;

}

footer {
    justify-content: center;
    background-color: black;
    color: white;
    margin: 0;
    padding: 2.5em 1.25em;
    border: 0;
    text-size-adjust: 100%;
    font: inherit;
    vertical: baseline;
}

footer a:hover {
color: Cyan;
cursor: pointer;
}

.bottom {
    background-color: black;
    color: white;

}
